<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <title>Upload File</title>

</head>

<body>

<div class="container">

    <form class="form-group" action="./upload.php" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload File</button>
    </form>
</div>
</body>
</html>